<h2 align="center">Hello Rails</h2>

<table align="center" border="1">
  <tr><td><h4 align="center"><%= link_to 'My Blog', controller: 'articles' %></h4></td>
  <tr><td><h4 align="center"><%= link_to 'User', controller: 'users' %></h4></td></tr>
</table>